

body {
    background-color: #6e61ab;
    height: 1000px;
}

nav {
    background-color: #aab1e5 !important;
}

.navbar-item {
    padding-left: 5%;
    color: black;
    font-weight: 500;
}

.navbar-item img {
    max-height: 70px;
    width: 100px;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0 0 15px 0;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

#side-bar {
    border: 2px solid gray;
    margin-top: 84px;
    height: 700px;
}

#side-bar-btns {
    width: 100%;
}

.side-btns {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

#main-area {
    margin-top: 20px;
    height: 100px;
    color: black;
    font-weight: 500;
}

h2 {
    border: 2px solid gray;
}

.main-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: none;
}

.top-btns {
    width: 200px;
    font-weight: 500;
    font-weight: bold;
    background-color: #aab1e5 !important;
    color: #111 !important;
    border-radius: 7px;
}

.row {
    margin: 0;
}

.input-field {
    margin-left: 10px;
}

#game-area {
    border: 2px solid gray;
    height: 700px;
}

#search-area div {
    display: flex;
    justify-content: center;
}

.columns {
    font-size: 20px;
}

#game-area >.columns:first-child {
    border-bottom: solid gray 2px;
}

#spread {
    margin-right: -70px;
    /*border-bottom: solid gray 2px;*/
}

#teams-line {
    margin-left: 10px;
    /*border-bottom: solid gray 2px;*/
}



#preloader {
    background: #000 url(./loader.gif) no-repeat center center;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}